<div >
  <h1 mat-dialog-title>Update Kitten</h1>

  <mat-dialog-content class="container" >

<!-- NOM -->
    <mat-form-field>
        <input matInput  [(ngModel)]="newkitten.name" placeholder="Enter kitten's name">
    </mat-form-field>
    
<!-- COULEUR -->
    <mat-form-field>
      <mat-label>Color</mat-label>
      <mat-select [(ngModel)]="newkitten.color">
        <mat-option>None</mat-option>
        <mat-option value=0>blanc</mat-option>
        <mat-option value=1>roux</mat-option>
        <mat-option value=2>noir</mat-option>
      </mat-select>
    </mat-form-field> 

    <mat-form-field>
        <mat-label>Race</mat-label>
        <mat-select [(ngModel)]="newkitten.race">
          <mat-option>None</mat-option>
          <mat-option value="0">siamois</mat-option>
          <mat-option value="1">sphynx</mat-option>
          <mat-option value="2">européen</mat-option>
        </mat-select>
      </mat-form-field> 

      <!-- <mat-form-field>
          <input matInput  [matDatepicker]="newkitten.age" placeholder="birth's date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>  -->

    <mat-form-field>
        <input matInput  [matDatepicker]="picker" [(ngModel)]="newkitten.age" placeholder="birth's date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> 
  
  </mat-dialog-content>


  <mat-dialog-actions>
    <button mat-button (click)="submit()" type="submit">Add</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>


</div>
