.card {
    max-width: 400px;
    margin: 100,100,100,100;
    border: 503px;
    border-color: black;
  }
  
  .header-image {
    background-size: cover;
  }
  .title{
    text-align: center;
  }

  .picture{

      width: 50%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;

  }

  
