<h1 class="title">My Kittens</h1>

<button mat-button (click)="openAddKittenDialog()">Add Kitten</button> 
<!-- <template #kittens></template> -->
<mat-grid-list  [cols]="breakpoint" rowHeight="1:0.9" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let kitten of kittens">
    <mat-card class="card" >
        <mat-card-header>
          <!-- <div mat-card-avatar class="header-image"></div> -->
          <mat-card-title>{{kitten.name}}</mat-card-title>
          <mat-card-subtitle>{{kitten.id}}</mat-card-subtitle>
        </mat-card-header>
        <img class="picture" mat-card-image src="https://www.secondechance.org/uploads/tips_information/59/c0/59c0cc86719cf707900169.jpg" >
        <mat-card-content>
          <ul>
            <li>
                <div *ngIf="kitten.race == 0">siamois</div>
                <div *ngIf="kitten.race == 1">sphynx</div> 
                <div *ngIf="kitten.race == 2">européen </div>
            </li>
            <li>
                <div *ngIf="kitten.color == 0">blanc</div>
                <div *ngIf="kitten.color == 1">roux</div> 
                <div *ngIf="kitten.color == 2">noir </div>
            </li>
            
            <li>birth: {{kitten.age}}</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openUpdateKittenDialog(kitten)">modify</button>
          <button mat-button (click)="delete(kitten)">delete</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

 

  <!-- <mat-grid-list cols = "4" rowHeight = "100px" >
      <mat-grid-tile *ngFor="let kitten of kittens" >
     
        <mat-card>
            <mat-card-header>
                <mat-card-title>aaa</mat-card-title>
              </mat-card-header>
        </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols = "4" rowHeight = "100px">
      <mat-grid-tile 
      [colspan] = "3"
      [rowspan] = "1">1
      </mat-grid-tile> --> 