



<!-- <ul class="heroes">
  <li *ngFor="let kitten of kittens">
    <span class="badge">{{kitten.id}}</span> {{kitten.name}}
    <button mat-button (click)="delete(kitten)">x</button>
  </li>
</ul>

<button mat-button (click)="openAddKittenDialog()">Add Kitten</button> -->

<app-cards></app-cards>

<!-- <app-messages></app-messages> -->
<!-- <button mat-button (click)="callUrl()">CALL</button> -->
