.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .home {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .home li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .home li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .home li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .home .text {
    position: relative;
    top: -3px;
  }


.badge {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  left: -1px;
  top: -4px;
  height: 1.8em;

  border-radius: 4px 0 0 4px;
}


body {
  background-image:url(https://i.pinimg.com/originals/94/65/e4/9465e4bc068274e084d3036647aa5617.jpg);
  background-size: 100% 100%;
  }

  